.videoContainer {
  background: #000;
  flex: 1;
}
.button {
  background: #c5c6cc !important;
}
.buttonsContainer {
  display: flex;
  justify-content: space-around;
}
@media (min-width: 600px) {
  .buttonsContainer {
    justify-content: flex-start;
  }
  .buttonsContainer > .button {
    margin-right: 3rem;
  }
}
.videosContainer {
  display: flex;
  overflow-x: auto;
  margin-top: 5px;
}
.attachment {
  width: 6rem;
  height: 6rem;
  background: #000;
  margin: 5px;
}
.attachmentsContainer {
  display: flex;
  flex-wrap: wrap;
}

.container {
  min-height: 100%;
  background-color: #000;
  color: #fff;
}

.roomBackground {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000;
}
