.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #666;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  border: 1px solid #0070f3;
  color: #0070f3;
  border-radius: 7px;
  font-size: 0.8em;
  padding: 5px 11px;
  background: #fff;
}

.link:hover {
  text-decoration: none;
}

.p1 {
  padding: 1rem;
}
.ph1 {
  padding: 1rem 0px;
}
.mt1 {
  margin-top: 1rem;
}
.ml1 {
  margin-left: 1rem;
}
.ml2 {
  margin-left: 2rem;
}
.mb2 {
  margin-bottom: 2rem;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.input {
  padding: 14px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.footerText {
  color: #8a8686;
  font-size: 0.9em;
}

.errorText {
  color: rgb(197, 13, 13);
  font-size: 0.8em;
}

.flex {
  flex: 1;
}

.flexColumn {
  flex-direction: column;
  display: flex;
  flex: 1;
}

.container400 {
  width: 400px;
  margin: 0px auto;
}

@media (max-width: 600px) {
  .container400 {
    width: 100%;
  }
}
